<!-- <div class="menu_section">
    <h3>SAVIOR LOG ANALYTICS</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="index.html">Dashboard</a></li>
          <li><a href="index2.html">Dashboard2</a></li>
          <li><a href="index3.html">Dashboard3</a></li>
        </ul>
      </li>
    </ul>
  </div> -->
 
  <div class="menu_section" ng-repeat="first in menus">
    <h3>{{first.firstName}}</h3>
    <ul class="nav side-menu" ng-repeat="second in first.children">
      <li>
      	<a><i class="fa fa-home"></i> {{second.secondName}} <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li ng-repeat="menu in second.children"><a href="{{menu.href}}">{{menu.menuName}}</a></li>
        </ul>
      </li>
    </ul>
  </div>