Hello,my SunShine
<br/>
<br/>
<i class="fa fa-thermometer-0" ></i>
<input ng-model="vm.name" placeholder="检测应用controllerAs用法"/>
<button ng-click="vm.test()">弹出输入框文本</button>
<a href="/main">去main页</a>
<feng-title></feng-title>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
</div>